* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(./images/img01.jpg);
}

img {
    max-width: 100%;
    object-fit: cover;
}

header {
    border: 1px solid gray;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    max-width: 1200px;
    margin: 1em auto;
}

header .container h1 {
    color: #167eff;
}

header .container a {
    color: #898a92;
    text-decoration: none;
}